html {
    position: relative;
}

body {
    margin-bottom: 120px;
    margin-top: 30px;
}



.jumbotron img {
    width: 250px;
    border: 5px solid #333;
    border-radius: 50%;

}

.page-scroll {
    text-decoration: none;
    color: black;

}

.collapse a:hover {
    text-decoration: none;
    color: rgb(92, 92, 92);

}


hr {
    width: 250px;
    border-top: 3px solid #999;
}


section {
    min-height: 600px;
}

.portfolio img {
    padding-top: 20px;
    width: 300px;
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #222;
    color: white;
    padding: 30px;

}

footer p {
    color: white;
    font-size: 0.9em;
}

footerp p i {
    color: salmon;
}